<!DOCTYPE HTML>
<html ng-app="tccApp">
  <head>
    <meta charset="utf-8">
    <title>TCC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container" ng-controller="appController">
    	<h1>Teste de desempenho</h1>
    	<form novalidate class="form-horizontal">
	    	<div class="col-xs-12 col-md-8">
		    	<div class="form-group">
		    		<label for="testUrl">Endereço do site (URL): </label>
		    		<input type="text" id="testUrl" class="form-control" ng-model="testData.url"></input>
		    	</div>

		    	<div class="form-group">
		    		<label for="testTimes">Quantas vezes você quer que o teste seja executado?</label>
		    		<input type="number" id="testTimes" class="form-control" ng-model="testData.times">
		    	</div>

		    	<button type="submit" class="btn btn-md btn-primary btn-success" ng-click="executeTest()"><i class="glyphicon glyphicon-ok"></i> Iniciar Teste</button>
	    	</div>	    	
    	</form>

    	<hr class="clearfix col-xs-12" />

	    <div class="col-xs-12 col-md-8">
	    	<h3>Resultados</h3>

	    	<div ng-repeat="result in testResult">
	    		<h4>Navegador: {{result.data.label}}</h4>

	    		<p><strong>Sem Cache</strong></p>
	    		<p>Tempo de carregamento: {{result.data.average.firstView.loadTime}} ms</p>

	    		<p><strong>Com Cache</strong></p>
	    		<p>Tempo de carregamento: {{result.data.average.repeatView.loadTime}} ms</p>

	    		<br/>
	    		<br/>
	    	</div>
	    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

	<script src="src/app.js"></script>
	<script src="src/controller.js"></script>
</body>

</html>
